* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    background-color: rgb(70, 75, 75);
    align-items: center;
    color: white;
  
}

.navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
}

.navbar a {
    flex: 1 0 auto;
    color: rgb(29, 25, 25);
    text-decoration: none;
    font-family: 'Bitter', serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 3%;
}

.navbar a:hover {
    color: rgb(245, 239, 239);
}

.img {
      
    width: 10vw;
    height: auto;
    margin-left: 60%;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.img2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.cptransp {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.436);
    top: 0;
    left: 0;
}

.conf {
   
    font-size: 2vw;
    margin-left: 5vw;
}

.span {
    color: rgb(21, 146, 21);
    font-weight: bold;
}

.foto {
    
    position: relative;
    display: flex;
}

.tf {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 right;
    position: absolute;
    right: 2vw;
    top: 17vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: right;
    font-size: small;
   
}

.tf h1 {
    font-weight: bold;
    text-align: right;
    font-size: 2rem;
}

.botones {
    display: flex;
    border-radius: 3%;
    justify-content: right;
    align-items: right;
    
}

.botones a {
    display: block;
    padding: 1vw;
    margin: 4px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Bitter', serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1vw;
    border-radius: 5%;
}

.btn-verde {
    background-color: rgb(28, 158, 28);
}

.btn-nada {
    border: 1px solid white;
}

.botones a:hover {
    color: rgb(245, 239, 239);
    box-shadow: 0 1px 3px rgb(255, 255, 255);
}


.subtitulo {
    text-align: center;
    margin-top: 1vw;
}

.subtitulo p {
    text-align: center;
    margin: 0;
}

.contenedor {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "caja1 caja2 caja3";
    gap: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 3vw;
}

.caja1 {
    grid-area: caja1;
    /* width: 25vw; */
    /* border: 3px solid red; */
}

.caja2 {
    grid-area: caja2;
    /* width: 25vw; */
    /* border: 3px solid red; */
}

.caja3 {
    grid-area: caja3;
    /* width: 25vw; */
    /* border: 3px solid red; */
}

.nombre {
    color: black;
    font-family: 'Bitter', serif;
    text-align: left;
    font-size: 2em;
}

.texto {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 1em;
    
}

.cardsimg {
    width: 100%;
    align-items: center;
    justify-self: center;
}
.logojavareact{
    display: flex;
    margin: 0;
    padding: 0;
}
.p1 {
    color: black;
    padding: 2px;
    border-radius: 10%;
    box-shadow: 0 1px 1px rgb(218, 153, 14);
    background-color: rgb(218, 153, 14);
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: x-small;
    font-family: 'Bitter', serif;
    font-weight: bold;
    
}

.p2 {
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 10%;
    box-shadow: 0 1px 1px rgb(2, 131, 163);
    background-color: rgb(2, 131, 163);
    margin-top: 5px;
    margin-bottom: 0;
    font-size: x-small;
    font-family: 'Bitter', serif;
    font-weight: bold;
}
.logonegociost{
    display: flex;
    margin: 0;
    padding: 0;
}
.p3 {
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 10%;
    box-shadow: 0 1px 1px gray;
    background-color: gray;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: x-small;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

.p4 {
    color: rgb(255, 255, 255);
    padding: 2px;
    padding-inline: 5px;
    border-radius: 10%;
    box-shadow: 0 1px 1px brown;
    background-color: brown;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: x-small;
    font-family: 'Bitter', serif;
    font-weight: bold;
}
.nombre1 {
    font-size: medium;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    }
.conbottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    
}

.img3 {
    width: 100%;

}

.texto1 {
    background-color: rgb(53, 52, 52);
    padding: 1vw;
    font-size: 1vw;
}

.texto1 h3 {
    color: white;
}

.texto1 p {
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.texto1 a {
    padding: 10px;
    margin: 1px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
}

.form {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "nombre apellido"
        "descripcion descripcion"; */
    margin: 1vw 7vw 7vw;

}

.nombre {
    /* grid-area: "nombre"; */
    font-size: medium;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    /* width: 41vw; */
    margin-bottom: 1vw;
}

.apellido {
    /* grid-area: "apellido"; */
    font-size: medium;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    /* width: 41vw; */

}


.descripcion {
    /* grid-area: "descripcion"; */
    font-size: medium;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding: 1vw;
    resize: none;
    width: 100%;
}

.boton {
    background-color: rgb(18, 182, 18);
    color: white;
    /* width: 84vw; */
    border: 0;
    padding: 10px;
    border-radius: 3%;
    margin-bottom: 5vw;
}

.footer {
    width: 100%;
    height: 5vw;
    background-color: rgb(28, 93, 146);
    align-items: center;
    justify-content: center;
   
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 2vw;

}
@media all and(max-width: 800px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
   .main{
    display: flex;
    flex-flow: column ;
   }
   .footer{
    display: flex;
    flex-wrap: wrap;
    }
    .footer a{
        flex:1 0 auto;
        align-items: center;
        justify-content: center;
    }
}
@media all and(min-width: 640px){
    .navbar{
        display:flex;
        flex-flow: column;
    }
    .main{
        display: flex;
        flex-flow: column;
    }
    .footer{
        display: flex;
        flex:1 0 auto;
        
        
    }
}